[submodule "cJSON"]
	path = cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "cmake-examples"]
	path = cmake-examples
	url = https://gitlab.com/jhamberg/cmake-examples.git
[submodule "applications/curl"]
	path = applications/curl
	url = https://github.com/curl/curl.git
